html, body {
	margin:0px;
	padding:0px;
	font-size: 1.1em;
}

html, body, div, a, p {
	font-family: 'Gentium Book Basic', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color:#333;
}

li {
	list-style-type: none;
	padding-bottom: 8px;
}

a {
	color:#333;
	padding:6px;
}

a:hover {
	color:white;
	background-color: black;
	text-decoration: none;
	font-style: italic;
}

.section > h1 {
	font-weight: 700;
	display:inline;
	border-bottom: 3px solid #333;
}

.section > ul {
	padding-left:40px;
}

.section > p, .section > ul {
	margin-top:20px;
}

.page-header > h1 {
	border:0px;
	margin-bottom: 0px;
	font-size: 3em;
	font-weight: normal;
}

.page-header > h2 {
	font-style: italic;
	margin-top: 5px;
}

.aboutme {
	padding-left: 40px;
}

#ut {
	color:#cc5500;
}

.description {
	padding-left:20px;
	padding-top: 5px;
	color:#888;
}

.description a {
	text-decoration: underline;
	padding:0px;
}

.description a:hover {
	font-style: normal;
	text-decoration: none;
	padding:0px;
}

.work h2 {
	font-style: italic;
	color:#333;
}

::selection {
	color:white;
	background:black;
}
::-moz-selection {
	color:white;
	background:black;
}

@media screen and (max-width: 624px){
    a:hover {
        background-color: transparent;
        color:black;
        font-style: normal;
        border-bottom: 2px solid #333;
    }
    .aboutme {
		padding-left: 0px;
	}
	.section > ul {
		padding-left: 0px;
	}
}