html, body {
	margin:0px;
	padding:0px;
	font-size: 1em;
	background-color: #fff;
}

html, body, div, a, p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color:#171717;
}

h1, h2, h3, h4, h5, h6 {
	color:#171717;
}

.fa {
	color:#fff;
}

ul {
	padding-left: 0px;
}
ul:first-of-type li {
	padding-bottom:0;
}
li {
	list-style-type: none;
	padding-bottom: 8px;
}

a {
	color:#333;	
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
	color:#000;
}

h1 {
	font-weight: 700;
	display:inline;
	border-bottom: 3px solid #2f2f2f;
}

#ut {
	color:#cc5500;
}

.description {
	padding-left:20px;
	padding-top: 5px;
	color:#555;
}

.work h2 {
	font-style: italic;
	color:#333;
}

p.project_title {
	text-decoration: underline;
}

p.project_title:hover {
	font-weight: bold;
	color: #000;
}

::selection {
	color:white;
	background:black;
}
::-moz-selection {
	color:white;
	background:black;
}

.col-sm-6 {
	padding-left: 0px;
}

.header {
	padding:20px;
	padding-bottom: 0px;
	background-color: #000000;
	background-image: url(twinkle_twinkle.png);
	color: #f3f3f3;
}

.header h1 {
	color: #f3f3f3;
	border-bottom: 3px solid #f3f3f3;
}

.header h2 {
	color: #f3f3f3;
	font-style: italic;
	font-style: italic;
	font-weight: 300;
}

.header a {
	color: #f3f3f3;
	text-decoration: none;
}