<div class="container content">
  <div class="row">
    <h1>About</h1>
    <!-- <p style="margin-top:10px;">Currently a student at the <span id="ut">University of Texas at Austin</span>, I am pursuing a BS in Mathematics with a concentration in Scientific Computation, a BA in Philosophy, and an Elements of Computing Certificate.</p> -->

    <p style="margin-top:10px;">Hi, I'm Nova.</p>
    <p>I'm a freelance Web Developer in Austin, TX.</p>
    <p>I enjoy projects involving programming, robotics, web design / development, making, breaking, hacking, and designing things.</p>
    <p>Hobbies include:
      <ul>
        <li>- playing Super Smash Bros Melee for Nintendo GameCube competitively - my tag is Sorry.</li>
        <li>- lock picking, and breaking into and out of places.</li>
        <li>- speed-solving Rubik's Cubes.</li>
      </ul>
    </p>
    <p>I use gender-neutral pronouns: they/them/their, please.</p>
  </div>
  <div class="row">
    <h1>Skills</h1>
    <ul style="margin-top:10px;">
      <li>Languages:  Python, JavaScript, Java, PHP</li>
      <li>Software: Vim, Git, Eclipse, Android Studio, LaTeX</li>
      <li>Frameworks: Django, Flask, Angular, jQuery, Heroku, Bootstrap</li>
      <li>Hardware: Arduino, Raspberry Pi</li>
    </ul>
  </div>
  <div class="row">
    <h1>Experience</h1>
    <p style="margin-top:10px;">Feel free to check out the stuff I've worked on, either on my <a href="#/projects/">/projects/</a>, all my <a href="#/work/">/work/</a>, or <a href="https://github.com/novacourtois">GitHub</a> page.</p>
    <p>Check out my <a href="includes/resume.pdf">resume</a>, too.</p>
  </div>
</div>