<div class="row">
  <h1>About</h1>
  <p style="margin-top:10px;">Currently a student at the <span id="ut">University of Texas at Austin</span>, I am pursuing a BS in Mathematics with a concentration in Scientific Computation, a BA in Philosophy, and an Elements of Computing Certificate.</p>
  <p>I enjoy projects involving programming, robotics, web design / development, making, breaking, hacking, and designing things.</p>
  <p>I use gender-neutral pronouns: they/them/their, please.</p>
</div>
<div class="row">
  <h1>Skills</h1>
  <ul style="margin-top:10px;">
    <li>Languages:  Python, JavaScript, Java, PHP, MATLAB</li>
    <li>Software: Vim, Git, Eclipse, Android SDK, LaTeX, AutoDesk Inventor, Blender</li>
    <li>Frameworks: Django, Flask, Angular, jQuery, Bootstrap, Heroku</li>
    <li>Hardware: Arduino, Raspberry Pi, Ti Msp430</li>
  </ul>     
</div>